@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ErrorViewModel

<h1 class="text-danger">@Localizer["Error"].Value</h1>
<h2 class="text-danger">@Localizer["An error occurred while processing your request."].Value</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@Localizer["Request ID:"].Value</strong> <code>@Model.RequestId</code>
    </p>
}