@page
@model ChangePasswordModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<form id="change-password-form" method="post">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card fb-card c-vitesco-green-04">
                <div class="card-header c-vitesco-green-04">
                    <i style="vertical-align:middle" class="ti-user c-vitesco-green-04"></i>
                    <div class="d-inline-block">
                        <h2 style="color:white">@Localizer["Change password"].Value</h2>
                    </div>
                </div>
                <div class="card-block card-padding">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.OldPassword"></label>
                        <input asp-for="Input.OldPassword" class="form-control" />
                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.NewPassword"></label>
                        <input asp-for="Input.NewPassword" class="form-control" />
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <br />
                    <button style="font-weight:700" type="submit" class="btn btn-success bt-vt-r">@Localizer["Update"].Value</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
