@page
@model DeletePersonalDataModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="row justify-content-center">
    <div class="col-6">
        <div class="card fb-card">
            <div style="background-color: #dc3545;" class="card-header">
                <i style="vertical-align:middle; background-color:#dc3545; font-size:40px;" class="bi-x-circle-fill"></i>
                <div class="d-inline-block">
                    <h2 style="vertical-align: middle; color: white"></h2>
                </div>
            </div>
            <div class="card-block card-padding">
                <div class="alert alert-warning" role="alert">
                    <p>
                        <span class="glyphicon glyphicon-warning-sign"></span>
                        <strong>@Localizer["Deleting this data will permanently remove your account, and this cannot be recovered."].Value</strong>
                    </p>
                </div>

                <div>
                    <form id="delete-user" method="post" class="form-group">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        @if (Model.RequirePassword)
                        {
                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                        }
                        <br />
                        <button style="float:right;" class="btn btn-danger" type="submit">@Localizer["Delete data and close my account"].Value</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}