@page
@model DeletePersonalDataModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="row justify-content-center">
    <div class="col-12">
        <div class="card fb-card">
            <div class="card-header bg-danger">
                <i style="float: left; font-size: 40px; margin-right: 0px; padding: 10px 0px 0px 0px;" class="bi-exclamation-triangle .bg-danger"></i>
                <h3 style="color: white; text-align:center; margin:5px 30px 0px 0px;">@Localizer["DELETE ACCOUNT"].Value</h3>
            </div>
            <div style="text-align:center" class="card-block card-padding">
                <img src="~/resources/General/Warning.png" width="200" />
                <br /><br />
                <div class="alert alert-warning" role="alert">
                    <p>
                        <span class="bi-exclamation-diamond-fill"></span>
                        <strong>@Localizer["Deleting this data will permanently remove your account, and this cannot be recovered."].Value</strong>
                    </p>
                </div>
                <br />
                <div>
                    <form id="delete-user" method="post" class="form-group">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        @if (Model.RequirePassword)
                        {
                            <div style="text-align:left; font-weight:700;" class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                        }
                        <br />
                        <button style="float:right;" class="btn btn-danger" type="submit">@Localizer["Delete data and close my account"].Value</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}