@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model MachinePortal.Models.Responsible

@* Machine Photo Button and Preview *@
<script type="text/javascript">
    $(document).ready(function () {
        //Button triggers the photo file input
        document.getElementById('openPhoto').addEventListener('click', () => {
            document.getElementById('photo').click()
        });

        $("#photo").change(function () {
            //Get file name and put it into input
            var fileInput = document.getElementById('photo');
            for (i = 0; i < fileInput.files.length; i++) {
                var sfilename = fileInput.files[i].name;
                document.getElementById("photoFilePath").value = sfilename;
            }
            //Load file and show the preview
            if (typeof (FileReader) != "undefined") {
                var dvPreview = $("#divImageMediaPreview");
                dvPreview.html("");
                $($(this)[0].files).each(function () {
                    var file = $(this);
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var img = $("<img />");
                        img.attr("style", "height:200px; margin: 10px;");
                        img.attr("src", e.target.result);
                        img.attr("class", "img-thumbnail");
                        dvPreview.append(img);
                    }
                    reader.readAsDataURL(file[0]);
                });
            } else {
                alert("This browser does not support HTML5.");
            }
        });
    });
</script>

<div class="modal-dialog">
    <div class="modal-content">
        <form asp-action="Create" enctype="multipart/form-data" asp-controller="Responsibles">
            <div class="modal-header c-vitesco-green-03">
                <i style="color:white;font-size:30px;" class="bi-plus-circle c-vitesco-green-03"></i>
                <h3 style="color:white;text-align:center;" class="modal-title">Create New Responsible</h3>
                <button style="color:white;margin-top:-8px;" type="button" class="close" data-dismiss="modal"><span aria-hidden="true" class="c-m-btn">×</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <div style="padding:10px;" class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label">Photo</label>
                        <div id="divImageMediaPreview"></div>
                        <div class="input-group">
                            <input id="photoFilePath" type="text" class="form-control" placeholder="No file chosen" readonly />
                            <span class="input-group-append input-group-button">
                                <button id="openPhoto" class="btn btn-default" type="button">
                                    Open Photo
                                </button>
                            </span>
                        </div>
                        <input type="file" id="photo" name="photo" accept="image/*" style="display:none" />
                    </div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Department</label>
                        <select asp-for="Department.ID" class="form-control" asp-items="@(new SelectList(ViewBag.ListDepartments,"ID","Name"))"></select>
                        <span asp-validation-for="Department" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Mobile" class="control-label"></label>
                        <input asp-for="Mobile" class="form-control" />
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input style="width:120px;" type="button" value="Cancel" class="btn btn-dan mr-auto" data-dismiss="modal" />
                <input style="width:120px;float:right;" type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}