@model IEnumerable<MachinePortal.Models.Area>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<div class="row justify-content-around">
    @foreach (var item in Model)
    {
        <div class="col-4">
            <a asp-action="Sectors" asp-route-id="@item.ID">
                <div class="card fb-card c-vitesco-blue-03">
                    <div style="text-align:center" class="card-header c-vitesco-blue-03">
                        <div class="d-inline-block">
                            <h2 style="color:white;">@Html.DisplayFor(modelItem => item.Name)</h2>
                        </div>
                    </div>
                    <div style="text-align:center" class="card-block card-padding">
                        @if (item.ImagePath != null)
                        {
                            <img class="img-thumbnail" src="@Html.DisplayFor(modelItem => item.ImagePath)" width="300" />
                        }
                        else
                        {
                            <img class="img-thumbnail" src="~/resources/General/NoImage.jpg" width="300" />
                        }
                    </div>
                </div>
            </a>
        </div>
    }
</div>