@model IEnumerable<MachinePortal.Models.Line>

<div class="row justify-content-around">
    @foreach (var item in Model)
    {
    <div class="col-4">
        <a asp-controller="Hierarchies" asp-action="Machines" asp-route-id="@item.ID">
            <div class="card fb-card c-vitesco-blue-03">
                <div style="text-align:center" class="card-header c-vitesco-blue-03">
                    <div class="d-inline-block">
                        <h2 style="color:white">@Html.DisplayFor(modelItem => item.Name)</h2>
                    </div>
                </div>
                <div class="card-block card-padding">
                    @if (item.ImagePath != null)
                        {
                    <img class="img-thumbnail" src="@Html.DisplayFor(modelItem => item.ImagePath)" height="200" />
                        }
                        else
                        {
                    <img class="img-thumbnail" src="~/resources/General/NoImage.jpg" height="200" />
                        }
                </div>
            </div>
        </a>
    </div>
    }
</div>