@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Roboto:700,400,300);
@import url(https://raw.github.com/necolas/normalize.css/master/normalize.css);
/**
* Set up reusable colors
*/
/**
* Colors from Flat UI
* Source: http://flatuicolors.com
*/
* {
    box-sizing: border-box;
}
/**
* This can be extended to anything to make it get slightly bigger on hover,
* which is a pretty commonly desired effect
*/
.big-on-hover {
    transform: scale(1, 1);
}

    .big-on-hover:hover {
        transform: scale(1.2, 1.2);
    }

/**
* Reusable single-direction margin declaration
*/
.margin, p, .flag {
    margin-top: 0;
    margin-bottom: 24px;
}

    .margin:last-child, p:last-child, .flag:last-child {
        margin-bottom: 0;
    }

/**
* Flag Object
* Original Source: http://csswizardry.com/2013/05/the-flag-object/
*/
.flag {
    display: table;
    width: 100%;
}

.flag__image,
.flag__body {
    display: table-cell;
    vertical-align: middle;
}

.flag--top .flag__image, .flag--top
.flag__body {
    vertical-align: top;
}

.flag--bottom .flag__image, .flag--bottom
.flag__body {
    vertical-align: bottom;
}

.flag__image {
    padding-right: 24px;
}

    .flag__image > img {
        display: block;
        max-width: none;
    }

.flag--rev .flag__image {
    padding-right: 0;
    padding-left: 24px;
}

.flag__body {
    width: 100%;
}

/**
* Notification Styles
*/
.note {
    position: relative;
    overflow: hidden;
    color: white;
    background-color: #E91E63;
}

.note--secondary {
    background-color: #263238;
}

.note--success {
    background-color: #4CAF50;
}

.note--warning {
    background-color: #FFC107;
}

.note--error {
    background-color: #d50000;
}

.note--info {
    background-color: #03A9F4;
}

.note__icon,
.note__text {
    padding: 24px;
}

.note__icon {
    min-width: 80px;
    text-align: center;
    font-size: 32px;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.25);
}

.note__text {
    padding-right: 48px;
}

.note__close {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 29px;
    line-height: 30px;
    font-size: 24px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: all 0.25s;
}

    .note__close:hover {
        background-color: rgba(0, 0, 0, 0.15);
    }

.note:hover .note__close {
    opacity: 1;
}

/* ******************************************************
	Responsive Grids
*********************************************************/

.rt-container {
    height: 80px;
    margin: 0 auto;
}

.rt-row:before, .rt-row:after {
    display: table;
    line-height: 0;
    content: "";
}

.rt-row:after {
    clear: both;
}

[class^="col-rt-"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    /*padding: 0 15px;*/
    min-height: 1px;
    position: relative;
}


@media (min-width: 768px) {
    .rt-container {
        width: 750px;
    }

    [class^="col-rt-"] {
        float: right;
        width: 49.9999999999%;
    }

    .col-rt-6{
        width: 100%;
    }

    .col-rt-8 {
        width: 150%;
    }

    .col-rt-10 {
        width: 175%;
    }

    .col-rt-12 {
        width: 200%;
        float:right;
    }
}

@media (min-width: 1200px) {
    .rt-container {
        float: right;
        width: 1170px;
    }

    .col-rt-1 {
        width: 16.6%;
    }

    .col-rt-2 {
        width: 30.33%;
    }

    .col-rt-3 {
        width: 50%;
    }

    .col-rt-4 {
        width: 67.664%;
    }

    .col-rt-5 {
        width: 83.33%;
    }
}

@media only screen and (min-width:240px) and (max-width: 768px) {
    .ScriptTop h1, .ScriptTop ul {
        text-align: center;
    }

    .ScriptTop h1 {
        margin-top: 0;
        margin-bottom: 15px;
    }

    .ScriptTop ul {
        margin-top: 12px;
    }

    .ScriptHeader h1,
    .ScriptHeader h2,
    .scriptnav ul {
        text-align: center;
    }

    .scriptnav ul {
        margin-top: 12px;
    }

    #float-right {
        float: none;
    }
}