@page
@model AccessDeniedModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="row justify-content-center">
    <div class="col-6">
        <div class="card fb-card">
            <div style="background-color:#dc3545" class="card-header">
                <i style="vertical-align:middle; background-color:#dc3545; font-size:40px;" class="bi-x-circle-fill"></i>
                <div class="d-inline-block">
                    <h2 style="vertical-align: middle; color: white">@Localizer["Access denied"].Value</h2>
                </div>
            </div>
            <div class="card-block card-padding">
                <br />
                <h4 style="font-weight:700;">@Localizer["You do not have access to this resource."].Value</h4>
                <br />
            </div>
        </div>
    </div>
</div>