@page
@model ConfirmEmailModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="row justify-content-center">
    <div class="col-6">
        <div class="card fb-card c-vitesco-green-04">
            <div class="card-header c-vitesco-green-04">
                <i style="vertical-align:middle" class="bi-door-closed c-vitesco-green-02"></i>
                <div class="d-inline-block">
                    <h2 style="color:white">Confirm email</h2>
                </div>
            </div>
            <div class="card-block card-padding">
                <br />
                <h3>Thank you for confirming your email.</h3>
                <br />
            </div>
        </div>
    </div>
</div>