@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="card fb-card c-vitesco-green-04">
    <div class="card-header">
        <i style="vertical-align:middle" class="bi-door-closed c-vitesco-green-04"></i>
        <div class="d-inline-block">
            <h2 style="color:white">@ViewData["Title"]</h2>
        </div>
    </div>
    <div class="card-block card-padding">
        <header>
            <h4>You have successfully logged out of the application.</h4>
        </header>
    </div>
</div>