@page
@model ResetPasswordConfirmationModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="row justify-content-center">
    <div class="col-6">
        <div class="card fb-card c-vitesco-green-04">
            <div class="card-header c-vitesco-green-04">
                <i style="vertical-align:middle" class="ti-user c-vitesco-green-04"></i>
                <div class="d-inline-block">
                    <h2 style="color:white">@Localizer["Reset password confirmation"].Value</h2>
                </div>
            </div>
            <div class="card-block card-padding">
                <br />
                <p class="f-20">
                    @Localizer["Your password has been reset. Please"].Value <a class="f-20" asp-page="./Login">@Localizer["click here to log in"].Value</a>.
                </p>
                <br />
            </div>
        </div>
    </div>
</div>