@model MachinePortal.Models.Device

@{
    ViewData["Title"] = Model.Name;
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

@* Machine Photo Button and Preview *@
<script type="text/javascript">
    $(document).ready(function () {
        //Button triggers the photo file input
        document.getElementById('openPhoto').addEventListener('click', () => {
            document.getElementById('photo').click()
        });

        $("#photo").change(function () {
            //Get file name and put it into input
            var fileInput = document.getElementById('photo');
            for (i = 0; i < fileInput.files.length; i++) {
                var sfilename = fileInput.files[i].name;
                document.getElementById("photoFilePath").value = sfilename;
            }
            //Load file and show the preview
            if (typeof (FileReader) != "undefined") {
                var dvPreview = $("#divImageMediaPreview");
                dvPreview.html("");
                $($(this)[0].files).each(function () {
                    var file = $(this);
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var img = $("<img />");
                        img.attr("style", "height:200px; margin: 10px;");
                        img.attr("src", e.target.result);
                        img.attr("class", "img-thumbnail");
                        dvPreview.append(img);
                    }
                    reader.readAsDataURL(file[0]);
                });
            } else {
                alert("This browser does not support HTML5.");
            }
        });
    });
</script>

<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit" enctype="multipart/form-data" asp-controller="Devices">
            <div class="card fb-card c-vitesco-green-03">
                <div class="card-header c-vitesco-green-03">
                    <i style="vertical-align:middle" class="ti-harddrives c-vitesco-green-03"></i>
                    <div class="d-inline-block">
                        <h2 style="color:white">Edit: @ViewData["Title"]</h2>
                    </div>
                </div>
                <div class="card-block card-padding">
                    <div class="form-group">
                        <label class="control-label">Photo</label>
                        <div id="divImageMediaPreview"></div>
                        <div class="input-group">
                            <input id="photoFilePath" type="text" class="form-control" placeholder="No file chosen" readonly />
                            <span class="input-group-append input-group-button">
                                <button id="openPhoto" class="btn btn-default" type="button">
                                    Open Photo
                                </button>
                            </span>
                        </div>
                        <input type="file" id="photo" name="image" accept="image/*" style="display:none" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Brand" class="control-label"></label>
                        <input asp-for="Brand" class="form-control" />
                        <span asp-validation-for="Brand" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model" class="control-label"></label>
                        <input asp-for="Model" class="form-control" />
                        <span asp-validation-for="Model" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PartNumber" class="control-label"></label>
                        <input asp-for="PartNumber" class="form-control" />
                        <span asp-validation-for="PartNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Supplier" class="control-label"></label>
                        <input asp-for="Supplier" class="form-control" />
                        <span asp-validation-for="Supplier" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StockLocation" class="control-label"></label>
                        <input asp-for="StockLocation" class="form-control" />
                        <span asp-validation-for="StockLocation" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <a style="width:120px;" class="btn btn-primary" asp-action="Index">Back to List</a>
                <input style="width:120px;float:right;" type="submit" id="submit" value="Edit" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
