@page
@model ErrorModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@Localizer["Request ID:"].Value</strong> <code>@Model.RequestId</code>
    </p>
}
