@{
    ViewData["Title"] = "About";
}

<div class="card fb-card c-vitesco-blue-01">
    <div class="card-header c-vitesco-blue-01">
            <i style="vertical-align:middle" class="ti-info c-vitesco-blue-01"></i>
            <div class="d-inline-block">
                <h2 style="color:white">@ViewData["Title"]</h2>
            </div>
    </div>
    <div class="card-block card-padding">
        <h3>@ViewData["Message"]</h3>
        <p>Use this area to provide additional information.</p>
    </div>
</div>
