@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h2>@Localizer["Privacy Policy"].Value</h2>

<p>@Localizer["Use this page to detail your site's privacy policy."].Value</p>
