@model MachinePortal.Models.Machine

@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <div class="col-6">
        <div class="card fb-card">
            <div style="background-color:#d9534f;" class="card-header">
                <i style="background-color:#d9534f;vertical-align:middle" class="ti-close"></i>
                <div class="d-inline-block">
                    <h2 style="color:white">Delete</h2>
                </div>
            </div>
            <div style="padding-left:50px" class="card-block card-padding text-center">
                <h4>@Html.DisplayFor(model => model.Name)</h4>
                <hr />
                <dl>
                    <dd>
                        @if (Model.ImagePath != null)
                        {
                            <img class="img img-thumbnail" src="@Html.DisplayFor(model => model.ImagePath)" width="200" />
                        }
                        else
                        {
                            <img class="img img-thumbnail" src="~/resources/General/NoImage.jpg" width="200" />
                        }
                    </dd>
                    <br />
                </dl>
                <hr />
                <form asp-action="Delete">
                    <input type="hidden" asp-for="ID" />
                    <a style="float:left;" class="btn btn-primary" asp-action="Index">Back to List</a>
                    <input style="float:right;" type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>
