@model MachinePortal.Models.Machine

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Machine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <img src="@Html.DisplayFor(model => model.ImagePath)" width="200" height="200" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <input type="hidden" asp-for="ID" />
    <input type="button" value="Back" class="btn btn-default" action="action" onclick="history.go(-1);" />
    <input type="submit" value="Edit" class="btn btn-info" />
</div>
