@model IEnumerable<MachinePortal.Models.Machine>

@{
    ViewData["Title"] = "Index";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-responsive">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.ImagePath)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<hr />

