@model IEnumerable<MachinePortal.Models.Machine>

@{
    ViewData["Title"] = "Index";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-responsive">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.ImagePath)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
       
    </tbody>
</table>
