@model MachinePortal.Models.ViewModels.LineFormViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="modal-dialog">
    <div class="modal-content">
        <form asp-action="Create" enctype="multipart/form-data" asp-controller="Lines">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title">Create Line</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Line.Name" class="control-label"></label>
                            <input asp-for="Line.Name" class="form-control" />
                            <span asp-validation-for="Line.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="hidden" asp-for="Line.SectorID" class="form-control"></input>
                        </div>
                        <div class="form-group">
                            <label asp-for="Line.ImagePath" class="control-label"></label>
                            <input type="file" name="image" accept="image/*" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>